{# templates/html.twig #}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Slim DEMO</title>
    </head>
    <body>
        {% block body %}
        Here will be overrided.
        {% endblock %}
    </body>
</html>