{# templates/index.twig #}

{% extends '_html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>Nick Fury:</h1>
            <code>You think you're the only hero in the world?</code>
            
            <hr />
            
            <a href="index.php/blog/articles">Go to Articles</a>
        </div>
    </div>
</div>
{% endblock %}